:host {
  display: block;
  font-family:'Myriad','Meiryo UI','Meiryo','PT Sans';
  color:#F1E2C7;
  text-shadow: 0 0 2px black, 0 0 2px black;
}

ul{
  list-style-type: none;
  margin: 0;
  margin-top: .5rem
}

hr{
  background-color:#111;
  height: 2px;
  border:none;
  border-bottom:1px solid #666;
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h3{
  color: #D7A869;
  font-weight: 500;
  padding-bottom:0;
  margin-bottom:0;
}

.icon{
  display: inline-block;
  height: 1.2em;
  margin-bottom: -.3em;
}
